global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgresql_pg01_172.28.33.11_5432 172.28.33.11:5432 maxconn 100 check port 8008
    server postgresql_pg02_172.28.33.12_5432 172.28.33.12:5432 maxconn 100 check port 8008
